<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WeatherAppWidget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Widget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>90F467501CEE6435009DB88D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90F467641CEE6436009DB88D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90F4676F1CEE6436009DB88D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90F467851CEE6473009DB88D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
